:root{
    --cor-texto-principal:#ffffff;
    --cor-texto-secundario:#c0c0c0;
    --botao-princpal:#167bf7;
    --botao-secundario:#00030c;



}

body{

 background-color: black;
color: var(--cor-texto-principal);

}


*{
margin:0 ;
padding:0 ;
}

.principal[
    .principal[
    background-color:#00030c;
    background-image: url('./img/background.png') ;
    background-repeat : no-repeat ;
    background-site:contain;
]

.contain{

    height:100vh; ;

}

.container--botao

background-color: var(--botao-principal);
color:var(--cor-texto-principal) ;
padding: 1em;
border-radius; 5px;
text-decoration: none;
}

.botao--secundario{
    background-color: ;
    
}