:root{
    --cor-texto-principal:#ffffff;
    --cor-texto-secundario:#c0c0c0;
    --botao-princpal:#167bf7;
    --botao-secundario:#00030c;
}



*{
margin:0 ;
padding:0 ;
}

.principal[
    background-image: url('./img/background.png') ;
    background-repeat : no-repeat ;
    background-site:contain;
]

.contain{
    height:100vh;
}




}